openapi: 3.0.3
info:
  title: Task Management API
  description: A specialized API for managing organizational projects and their underlying tasks.
  version: 1.0.0
servers:
  - url: https://api.taskmanager.com/v1
    description: Production server
paths:
  /projects:
    get:
      summary: List all projects
      operationId: getProjects
      responses:
        "200":
          description: A list of projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Project"
    post:
      summary: Create a new project
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectInput"
      responses:
        "201":
          description: Project successfully created

  /projects/{projectId}/tasks:
    parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get tasks for a specific project
      operationId: getProjectTasks
      responses:
        "200":
          description: List of tasks associated with the project
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Task"
    post:
      summary: Add a task to a project
      operationId: createTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskInput"
      responses:
        "201":
          description: Task successfully created

components:
  schemas:
    Project:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "Website Redesign"
        description:
          type: string
          example: "Updating the landing page for 2026"

    ProjectInput:
      type: object
      required: [name]
      properties:
        name:
          type: string
        description:
          type: string

    Task:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
          example: "Design Hero Section"
        status:
          type: string
          enum: [todo, in-progress, done]
          default: todo

    TaskInput:
      type: object
      required: [title]
      properties:
        title:
          type: string
        status:
          type: string
          enum: [todo, in-progress, done]
